---
author: Oskar Taubert
title: Markdown Slides | Overview
description: Landing page
design: black 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
    <!--<a class="github-fork-ribbon right-top" href="https://www.csc.fi" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">CSC</a>-->
    <img class="csc-logo" src="https://csc.fi/app/uploads/2023/09/CSC_logo_no_tagline.svg" alt="CSC logo">
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# Markdown Slides

<br>

- Links to presentations:
- [LLM Training Scaling](/markdownslides/scaling)
- [Propulate Intro: HAICON](/markdownslides/propulate_intro)
- [Propulate Demo: PDL Day 3](/markdownslides/propulate_demo)

<br>


            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
